.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/**************************************************** 
           * Conduct of exercise *
****************************************************/

/* Exercise number 1 */
.ex-1-square{
    transition: all 2s;
    cursor: pointer;
}

.ex-1-square:hover{
    background-color: #ff0000;
}
/* end Exercise number 1 */

/* Exercise number 2 */
.ex-2-square{
    transition: all 2s;
    cursor: pointer;
}

.ex-2-square:active{
    width: 100%;
}
/* end Exercise number 2 */

/* Exercise number 3 */
.ex-3-square{
    transition: all 1s;
    cursor: pointer;
}

.ex-3-square:hover{
    border-radius: 50%;
}
/* end Exercise number 3 */

/* Exercise number 4 */
.ex-4-square{
    transition: all 1.5s;
    cursor: pointer;
}

.ex-4-square:hover{
    opacity: 0;
}
/* end Exercise number 4 */

/* Exercise number 5 */
.ex-5-square{
    transition: all 1.5s;
    cursor: pointer;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(.5);
}
/* end Exercise number 5 */

/* Exercise number 6 */
.ex-6-img{
    cursor: pointer;
}

.ex-6-img:hover{
    filter: grayscale(1);
}
/* end Exercise number 6 */

/* Exercise number 7 */
.ex-7-img{
    transition: all 2s;
    cursor: pointer;
}

.ex-7-img:hover{
    filter: sepia(100%) blur(5px);
}
/* end Exercise number 7 */





/**************************************************** 
           * end Conduct of exercise *
****************************************************/
 
 